@media (min-width: 767px) and (max-width: 860px) {
  .row {
    .col {
      .container3 {
        display: flex;

        h3 {
          font-size: 14px;
        }
        p {
          font-size: 12px;
        }
        .body {
          .text {
            width: 130px !important;
            text-align: left;
          }
        }
        .title {
          font-size: 20px;
          text-align: left;
          font-family: 'Vazir' !important;
          padding: 0 10px;
        }
        .status {
          display: inline-flex;
          color: #666;
          font-size: 12px;
          text-align: center;
          span {
            display: inline-flex;
            margin-right: 5px;
            //  margin-top: 3px;
            .icon {
              // padding-top: 10px;
              color: green;
              font-size: 11px;
              margin: auto;
            }
            .iconRed {
              // padding-top: 10px;
              color: red;
              font-size: 14px;
              margin: auto;
              margin-bottom: 4px;
            }
          }
        }
      }
      .container2 {
        display: flex;
        h2 {
          font-family: 'Vazir' !important;
          font-size: 17px;
          margin: 10px 0px 0 20px !important;
          text-align: left;
        }
        .item {
          div {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (min-width: 861px) {
  .row {
    .col {
      .container3 {
        .body {
          .text {
            width: 170px !important;
            text-align: left;
          }
        }
        .title {
          font-family: 'Vazir' !important;
          padding: 0 10px;
          font-size: 26px;
          text-align: left;
        }
        .status {
          display: inline-flex;
          color: #666;
          font-size: 14px;
          text-align: center;
          span {
            display: inline-flex;
            margin-right: 5px;
            //  margin-top: 3px;
            .icon {
              // padding-top: 10px;
              color: green;
              font-size: 13px;
              margin: auto;
            }
            .iconRed {
              // padding-top: 10px;
              color: red;
              font-size: 16px;
              margin: auto;
              margin-bottom: 4px;
            }
          }
        }
      }
      .container2 {
        h2 {
          font-family: 'Vazir' !important;
          font-size: 20px;
          margin: 10px 0px 0 20px !important;
          text-align: left;
        }
        .item {
          div {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (min-width: 420px) and (max-width: 766px) {
  .row {
    .col {
      .container3 {
        .body {
          .text {
            width: 170px !important;
            text-align: left;
          }
        }
        .title {
          font-family: 'Vazir' !important;
          padding: 0 10px;
          font-size: 26px;
          text-align: left;
        }
        .status {
          display: inline-flex;
          color: #666;
          font-size: 14px;
          text-align: center;
          span {
            display: inline-flex;
            margin-right: 5px;
            //  margin-top: 3px;
            .icon {
              // padding-top: 10px;
              color: green;
              font-size: 13px;
              margin: auto;
            }
            .iconRed {
              // padding-top: 10px;
              color: red;
              font-size: 16px;
              margin: auto;
              margin-bottom: 4px;
            }
          }
        }
      }
      .container2 {
        h2 {
          font-family: 'Vazir' !important;
          font-size: 20px;
          margin: 10px 0px 0 20px !important;
          text-align: left;
        }
        .item {
          div {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 419px) {
  .row {
    .col {
      .container3 {
        .body {
          .text {
            width: 130px !important;
            text-align: left;
          }
        }
        h3 {
          font-size: 12px;
        }
        p {
          font-size: 10px;
        }
        .title {
          font-size: 20px;
          text-align: left;
          font-family: 'Vazir' !important;
          padding: 0 10px;
        }
        .status {
          display: inline-flex;
          color: #666;
          font-size: 11px;
          text-align: center;
          span {
            display: inline-flex;
            margin-right: 5px;
            //  margin-top: 3px;
            .icon {
              // padding-top: 10px;
              color: green;
              font-size: 10px;
              margin: auto;
            }
            .iconRed {
              // padding-top: 10px;
              color: red;
              font-size: 13px;
              margin: auto;
              margin-bottom: 4px;
            }
          }
        }
      }
      .container2 {
        h2 {
          font-family: 'Vazir' !important;
          font-size: 17px;
          margin: 10px 0px 0 20px !important;
          text-align: left;
        }
        .item {
          div {
            font-size: 12px;
          }
        }
      }
    }
  }
}
// @media only screen and (max-width: 1250px) {
//   .root {
//   width:100%;
//   }
// }
.root {
  background-color: rgb(11, 14, 19);
  // background-color: white;
  .chartContainer {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .chartContainer::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    margin: 100px auto;
    max-width: 1400px;

    .titleBox {
      margin: 50px auto 20px;
      text-align: center;
      h2 {
        font-size: 22px !important;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .col {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .container3 {
        width: 100%;
        height: 374px;
        background-color: #10141b;
        color: rgba(245, 245, 245, 1) !important;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        h2 {
          background-color: #10141b;
          color: rgba(245, 245, 245, 1);
        }
        .header {
          div {
            h3 {
              color: rgba(245, 245, 245, 1);
            }
          }
          color: rgba(245, 245, 245, 1);
          padding: 0 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 15px;

          .results {
            display: flex;
            gap: 60px;
          }
        }
        .body {
          color: rgba(245, 245, 245, 1);

          padding: 0 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          margin-top: 20px;
          p {
            color: rgba(245, 245, 245, 1);
          }

          .results {
            display: inline-flex;
            gap: 120px;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
      .container {
        width: 100%;
        height: auto;
        background-color: #10141b;
        padding: 10px;
        margin-top: 62px;
        color: rgba(245, 245, 245, 1);
        h2 {
          color: rgba(245, 245, 245, 1);
          font-family: 'Vazir' !important;
          font-size: 26px;
          padding: 0 10px;
          text-align: left;
        }
      }
      .container2 {
        width: 100%;
        height: auto;
        background-color: #10141b;
        padding-bottom: 15px;
        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-top: 30px;
        color: rgba(245, 245, 245, 1);
        h2 {
          color: rgba(245, 245, 245, 1);
        }
        .body {
          width: 85%;
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          color: rgba(245, 245, 245, 1);

          .item {
            color: rgba(245, 245, 245, 1);

            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: 'Vazir' !important;
          }
        }
      }
    }
  }

  .logo {
    width: 180px;
    margin-top: 8px;
  }
}

.extend {
}

.nextPhase {
  background-color: #24303c;
}

.reset {
  background-color: #24303c;
}

.myStatis {
  .ant-statistic {
    color: rgba(245, 245, 245, 1) !important;
    .ant-statistic-content {
      color: rgba(245, 245, 245, 1) !important;
      .ant-statistic-content-value {
        color: rgba(245, 245, 245, 1) !important;
      }
    }
  }
}
.highcharts-xaxis-grid .highcharts-grid-line {
  stroke-width: 2px;
  stroke: #d8d8d8;
}

.highcharts-xaxis .highcharts-tick {
  stroke-width: 2px;
  stroke: #d8d8d8;
}

.highcharts-minor-grid-line {
  stroke-dasharray: 2, 2;
}
