@media only screen and (max-width: 1250.99px) {
    .ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark {
        display: none;
    }
    .bottom-nav {
        border-top: none;
        background-color: #10141B;
        color: #44B3FE;
        .bottom-nav-item--title {
            // opacity: 0;
            font-size: 10.3px;
            transition: all .3s ease;
            color: #fff !important;
        }
        svg {
            width: 24px;
            height: 24px;
            transition: all 0.3s ease; 
            color: #fff !important;
        }
        .bottom-nav-item.active {
            .bottom-nav-item--title {
                // opacity: 1;
                color: #44B3FE !important;
                transition: all .3s ease;
                font-size: 12px;
            }
            color: #44B3FE;
            fill: #44B3FE;
            background-color: #10141B !important;
            svg {
                color: #44B3FE !important;
                width: 32px;
                height: 32px;   
                transition: all 0.3s ease; 
            }
        }
    }
}

@media only screen and (min-width: 1250.99px) {
    .bottom-nav {
        display: none;
    }
}

.ant-row ::before {
    display: none !important;
}

.ant-tabs-nav-list {
    flex-wrap: wrap !important;
    .ant-tabs-tab {
        margin:4px 8px !important;
        border-radius: 8px !important;
    }
}

.ant-image {
    display: flex;
    align-items: center;
}

.ant-radio-input:focus + .ant-radio-inner {
    box-shadow: none;
}

div[data-highcharts-chart] {
    overflow: scroll;
}

.highcharts-container  {
    // overflow: scroll !important;
    padding: 11px 19px;
}

#header-toolbar-chart-styles {
    display: none;
}

#charts-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    article {
        width: 80%;
        margin: 64px auto;
        &.radio-container {
            display: flex;
            justify-content: flex-end;
        }
    }
}