@media only screen and (max-width: 1250.99px) {
    .ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark {
        display: none;
    }
    .bottom-nav {
        .bottom-nav-item.active {
            background-color: #24303C !important;
        }
    }
}

@media only screen and (min-width: 1250.99px) {
    .bottom-nav {
        display: none;
    }
}

.ant-row ::before {
    display: none !important;
}

.ant-tabs-nav-list {
    flex-wrap: wrap !important;
    .ant-tabs-tab {
        margin:4px 8px !important;
        border-radius: 8px !important;
    }
}