.list {
  :global(.ant-list-item) {
    border: rgba(68, 179, 254, 0.6) 1px solid !important;
    padding: 1rem;
    margin: 1rem 0;
  }
  direction: ltr;

  a,
  div,
  h4 {
    color: aliceblue;
  }
  .avatar {
    padding-top: 8px;
    background: #10141b;
    width:48px;
    height:48px;
  }
}
.container {
  :global(.ant-input) {
    background-color: #10141b !important;
    border: rgba(68, 179, 254, 0.6) 1px solid;
    color: aliceblue;
  }
  :global(.ant-select-selector) {
    background-color: #10141B !important;
    border-color: #2F73A3 !important;
  }
  margin: 3rem 0;

}
.ticketSelect {
  width: 100%;
  :global(.ant-select-selector) {
    background-color: #10141B !important;
    border-color: #2F73A3 !important;
  }
}

.ticketList {
  width: 60%;
  margin: 5rem auto;
  direction: ltr;

  a,
  div,
  h4 {
    color: aliceblue;
  }
  .avatar {
    margin-top: 5px;
    padding-top: 8px;
    background: #10141b;
  }
  .adminPm {
    border: none;
    background: rgb(1, 27, 50);
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    :global(.ant-list-item-meta) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .userPm {
    border: none;
    background: rgb(2, 47, 86);
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    :global(.ant-list-item-meta) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.sendBtn {
  background: #10141b;
  border: rgba(68, 179, 254, 0.6) 1px solid;
  color: aliceblue;
  width: 80px;
  margin: 1rem auto;
  text-align: center;
}

:global(.rc-virtual-list-holder) {
  div {
    overflow: auto !important;    
  }
  // overflow: auto !important;
}