.list {
  :global(.ant-list-item) {
    border: rgba(68, 179, 254, 0.6) 1px solid;
    padding: 1rem;
    margin: 1rem;
  }
  direction: ltr;

  a,
  div,
  h4 {
    color: aliceblue;
  }
  .avatar {
    padding-top: 8px;
    background: #10141b;
  }
}
.container {
  :global(.ant-input) {
    background: #10141b;
    border: rgba(68, 179, 254, 0.6) 1px solid;
    margin-top: 1rem;
    color: aliceblue;
  }
}
.ticketSelect {
  width: 100%;
}

.ticketList {
  direction: ltr;
  a,
  div,
  h4 {
    color: aliceblue;
  }
  .avatar {
    padding-top: 8px;
    background: #10141b;
  }
}
