.ant-scroll-number-only-unit {
  font-size: 10px !important;
  padding-top: 1px;
}
.ant-dropdown-menu-title-content{
  background-color: #FF9494;
  padding: 7px;
  border-radius: 10px;
  h3,p{
    color: #FFF;
  }
}
